In [1]:
import pandas as pd

In [2]:
eng_temp_file = "https://milliams.com/courses/data_analysis_python/cetml1659on.txt"
temperature = pd.read_csv(
        eng_temp_file,
           skiprows = 6,
           delim_whitespace = True,
           )
temperature

,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,YEAR
1659,3.0,4.0,6.0,7.0,11.0,13.0,16.0,16.0,13.0,10.0,5.0,2.0,8.87
1660,0.0,4.0,6.0,9.0,11.0,14.0,15.0,16.0,13.0,10.0,6.0,5.0,9.10
1661,5.0,5.0,6.0,8.0,11.0,14.0,15.0,15.0,13.0,11.0,8.0,6.0,9.78
1662,5.0,6.0,6.0,8.0,11.0,15.0,15.0,15.0,13.0,11.0,6.0,3.0,9.52
1663,1.0,1.0,5.0,7.0,10.0,14.0,15.0,15.0,13.0,10.0,7.0,5.0,8.63
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016,5.4,4.9,5.8,7.5,12.5,15.2,16.9,17.0,16.0,10.9,5.6,6.0,10.34
2017,4.0,6.1,8.7,8.9,13.2,16.0,16.8,15.6,13.5,12.4,6.8,4.8,10.58
2018,5.3,2.9,4.9,9.8,13.2,16.1,19.1,16.6,13.7,10.6,8.3,6.9,10.68
2019,4.0,6.7,7.8,9.1,11.1,14.2,17.5,17.1,14.3,10.0,6.2,5.8,10.34
2020,6.4,6.3,6.7,10.4,12.5,15.3,15.7,-99.9,-99.9,-99.9,-99.9,-99.9,-99.99